otus_architecture_lab_7/otus_architecture_lab_7/obj/
otus_architecture_lab_7/otus_architecture_lab_7_tests/bin/
otus_architecture_lab_7/otus_architecture_lab_7_tests/obj/
otus_architecture_lab_7/packages/
otus_architecture_lab_7/otus_architecture_lab_7/bin/
otus_architecture_lab_7/.vs/
